.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  max-width: 215px;
}

.inner-box {
  display: flex;
  justify-content: left;
}

.btnClass {
  width: 215px;
  height: 35px;

  cursor: pointer;

  text-align: center;
  font-size: 17px;
  line-height: 12px;
  margin-top: 15px;

  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}

label:hover {
  cursor: pointer;
  color: #000000;
  opacity: 1;
}

svg {
  margin-right: 15px;
}

label {
  width: 160px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #6c6c6c;
  opacity: 0.9;
}

#txtInputTicketNumbers {
  width: 215px;
  height: 35px;

  text-align: left;
  font-size: 17px;
  line-height: 12px;
  margin-top: 15px;

  border: 1px solid;
  border-radius: 3px;
  display: none;
}

#btnAddTicket {
  border: 2px solid #18a0fb;
  background-color: #ffffff;
  color: #18a0fb;
  display: block;
}

#btnApplyChanges {
  border: 2px solid #18a0fb;
  font-weight: bold;
  background-color: #18a0fb;
  color: #ffffff;
  display: block;
}

#btnCancelChanges {
  border: 2px solid #f0544e;
  font-weight: bold;
  background-color: #f0544e;
  color: #ffffff;
  display: none;
}

#circle-active {
  fill: #7b61ff;
}

#circle-review {
  fill: #ffc700;
}

#circle-change {
  fill: #f24822;
}

#circle-approved {
  fill: #1bc47d;
}

#circle-dev {
  fill: #ff00ff;
}
