.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  max-width: 215px;
}

label:hover {
  cursor: pointer;
  color: #000000;
  opacity: 1;
}

svg {
  margin-right: 15px;
}

.inner-box {
  display: flex;
  justify-content: left;
}

label {
  width: 160px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #6c6c6c;
  opacity: 0.9;
}

#btnAddTicket {
  width: 215px;
  height: 35px;

  cursor: pointer;
  border: 2px solid #18a0fb;

  text-align: center;
  font-size: 17px;
  line-height: 12px;
  margin-top: 15px;

  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  border-radius: 3px;
  color: #18a0fb;
}

#circle-active {
  fill: #7b61ff;
}

#circle-review {
  fill: #ffc700;
}

#circle-change {
  fill: #f24822;
}

#circle-approved {
  fill: #1bc47d;
}

#circle-dev {
  fill: #ff00ff;
}
